.venv/
.pytest_cache/
__pycache__/
*.pyc
*.cache
runs/
*.pt
data/
dataset/images/train/*
dataset/images/val/*
dataset/images/test/*
dataset/labels/train/*
dataset/labels/val/*
dataset/labels/test/*
dataset/images/raw/*
dataset/labels/raw/*
examples/screenshots/*
examples/public_demo_inputs/*
examples/public_demo_outputs/*
models/exported/*
models/best_imx_model/
!**/.gitkeep
